@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 45, 38, 64;
    --color-secondary: 149, 169, 198;
    --color-primary-dark: 43, 39, 47;
    --color-primary-blend: 131, 125, 135;
    --color-neutral: 250, 250, 250;
  }
}

body {
  font-size: 16px;
  font-weight: 400;
}

a:hover,
button:hover {
  cursor: pointer;
}
