---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Insure">
  <Hero />

  <div id="num">5</div>
  <button id="incBtn">increase</button>
</Layout>

<script>
  const incBtn = document.getElementById("incBtn");
  const numDiv = document.getElementById("num");

  incBtn?.addEventListener("click", function increaseNum() {
    numDiv!.innerText = (Number(numDiv?.innerText) + 1).toString();
  });
</script>
