---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import WeAreDifferent from "../components/WeAreDifferent.astro";
import FindOut from "../components/FindOut.astro";
---

<Layout title="Insure">
  <div class="bg-transparent">
    <Hero />
    <WeAreDifferent />
    <FindOut />
  </div>
</Layout>

<script></script>
