---
import Container from "./Container.astro";
import Button from "./Button.astro";

import familyImage from "../images/image-intro-desktop.jpg?url";
---

<div
  class="w-full pt-0 pb-10 md:py-10 lg:py-20 bg-primary text-neutral max-h-fit"
>
  <Container styles="px-0 py-0 h-full">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-5 h-fit relative">
      <div class="block py-20 md:py-0 h-full">
        <div
          class="h-fit flex flex-col justify-between items-center md:items-start gap-8 text-center md:text-left px-5 md:px-0"
        >
          <div
            class="hidden md:block md:pb-4 lg:pb-8 w-[150px] border-t border-t-neutral"
          >
          </div>
          <h1
            class="text-[2.8rem] md:text-[2.8rem] lg:text-[4rem] xl:text-[5rem] font-display"
          >
            Humanizing your insurance.
          </h1>
          <p class="text-[17px] md:text-base">
            Get your life insurance coverage easier and faster. We blend our
            expertise and technology to help you find the plan that’s right for
            you. Ensure you and your loved ones are protected.
          </p>
          <Button text="View plans" theme="light" onClick="" />
        </div>
      </div>
      <div class="row-start-1 md:col-start-2 relative md:absolute w-full">
        <img src={familyImage} alt="family of four" class="w-full h-[100%]" />
      </div>
    </div>
  </Container>
</div>
