---
import Container from "./Container.astro";

---

<div class="w-full py-10 bg-primary text-neutral">
<Container>
    <div>
        <h1>Humanizing your insurance</h1>    
    </div>    
</Container/>
</div>
